<!-- <section class="bg-white dark:bg-gray-900 flex justify-center items-center h-[calc(100vh-10rem)]">
    <div class="max-w-2xl overflow-hidden bg-white rounded-lg shadow-md dark:bg-gray-800">
        <img class="object-cover w-full h-64" src="https://images.unsplash.com/photo-1550439062-609e1531270e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Article">
    
        <div class="p-6">
            <div>
                <span class="text-xs font-medium text-blue-600 uppercase dark:text-blue-400">Product</span>
                <a href="#" class="block mt-2 text-xl font-semibold text-gray-800 transition-colors duration-300 transform dark:text-white hover:text-gray-600 hover:underline" tabindex="0" role="link">I Built A Successful Blog In One Year</a>
                <p class="mt-2 text-sm text-gray-600 dark:text-gray-400">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Molestie parturient et sem ipsum volutpat vel. Natoque sem et aliquam mauris egestas quam volutpat viverra. In pretium nec senectus erat. Et malesuada lobortis.</p>
            </div>
    
            <div class="mt-4">
                <div class="flex items-center">
                    <div class="flex items-center">
                        <img class="object-cover h-10 rounded-full" src="https://images.unsplash.com/photo-1586287011575-a23134f797f9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=48&q=60" alt="Avatar">
                        <a href="#" class="mx-2 font-semibold text-gray-700 dark:text-gray-200" tabindex="0" role="link">Jone Doe</a>
                    </div>
                    <span class="mx-1 text-xs text-gray-600 dark:text-gray-300">21 SEP 2015</span>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- <section class="bg-white dark:bg-gray-900">
    <div class="relative flex">
        <div class="lg:w-1/3"></div>
        <div class="hidden w-3/4 h-[calc(100vh-9.25rem)] bg-gray-100 dark:bg-gray-800 lg:block"></div>

        <div
            class="container flex flex-col h-[calc(100vh-14rem)] justify-center w-full px-20 py-10 mx-auto lg:absolute lg:inset-x-0">
            <h1 class="text-2xl font-semibold text-gray-800 capitalize lg:text-3xl dark:text-white">
                <span class="text-blue-500">About</span> me
            </h1>

            <div class="mt-10 lg:mt-20 lg:flex lg:items-center">
                <img class="object-cover object-center w-full lg:w-[32rem] rounded-lg h-96" src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80" alt="">

                <div class="mt-8 lg:px-10 lg:mt-0">
                    <h1 class="text-2xl font-semibold text-gray-800 dark:text-white lg:w-72">
                        Help us improve our productivity
                    </h1>

                    <p class="max-w-lg mt-6 text-gray-500 dark:text-gray-400">
                        “ Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore quibusdam ducimus libero ad
                        tempora doloribus expedita laborum saepe voluptas perferendis delectus assumenda rerum, culpa
                        aperiam dolorum, obcaecati corrupti aspernatur a. ”
                    </p>

                    <h3 class="mt-6 text-lg font-medium text-blue-500">Ronik Ederson</h3>
                    <p class="text-gray-600 dark:text-gray-300">Marketing Manager at Stech</p>
                </div>
            </div>

            <div class="flex items-center justify-between mt-12 lg:justify-start">
                <button title="left arrow" class="p-2 text-gray-800 transition-colors duration-300 border rounded-full rtl:-scale-x-100 dark:border-gray-700 dark:text-gray-200 dark:hover:bg-gray-800 hover:bg-gray-100">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15 19l-7-7 7-7" />
                    </svg>
                </button>

                <button title="right arrow" class="p-2 text-gray-800 transition-colors duration-300 border rounded-full rtl:-scale-x-100 dark:border-gray-700 dark:text-gray-200 dark:hover:bg-gray-800 lg:mx-6 hover:bg-gray-100">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section> -->

<!-- <section class="bg-white dark:bg-gray-900">
    <div class="relative flex">
        <div class="lg:w-1/3"></div>
        <div class="hidden w-3/4 h-[calc(100vh-9.25rem)] bg-gray-100 dark:bg-gray-800 lg:block"></div>
        <div
            class="container flex flex-col justify-center w-full px-6 py-10 mx-auto lg:absolute lg:inset-x-0">
            <h1 class="text-2xl font-semibold text-gray-800 capitalize lg:text-3xl dark:text-white">
                <span class="text-blue-500">About</span> Me
            </h1>

            <div class="mt-10 lg:mt-20 lg:flex lg:items-center">
                <img class="object-cover object-center w-full lg:w-[32rem] rounded-lg h-96" src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80" alt="Profile Picture">

                <div class="mt-8 lg:px-10 lg:mt-0">
                    <h2 class="text-2xl font-semibold text-gray-800 dark:text-white lg:w-72">
                        Aspiring Full-Stack Developer
                    </h2>

                    <p class="max-w-lg mt-6 text-gray-500 dark:text-gray-400">
                        Hello! I'm Antoni Piwowarski, a passionate Computer Science student specializing in Web Technologies. I'm on a journey to become a full-stack developer, with experience in both frontend and backend technologies. My skillset includes Angular, React, Python, Java, C++, and C#.
                    </p>

                    <p class="max-w-lg mt-4 text-gray-500 dark:text-gray-400">
                        I'm enthusiastic about creating diverse applications, from web and mobile apps to desktop software. My goal is to leverage my broad technical knowledge to build innovative, user-friendly solutions that make a real impact.
                    </p>

                    <div class="mt-6">
                        <button routerLink="/portfolio" class="inline-flex items-center px-4 py-2 text-sm font-medium text-white bg-blue-500 rounded-lg hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 dark:focus:ring-offset-gray-800">
                            View My Portfolio
                            <svg class="w-4 h-4 ml-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- <section class="bg-gradient-to-r from-blue-600 via-blue-800 to-blue-900 dark:from-gray-700 dark:via-gray-800 dark:to-gray-900">
    <div class="relative flex">
        <div
            class="container flex flex-col justify-center w-full px-6 py-10 mx-auto lg:absolute lg:inset-x-0 lg:mt-30 lg:px-20">
            <h1 class="text-2xl font-semibold text-gray-800 capitalize lg:text-3xl dark:text-white">
                <span class="text-blue-500">About</span> Me
            </h1>

            <div class="mt-10 lg:mt-20 lg:flex lg:items-center">
                <img class="object-cover object-center w-full lg:w-[32rem] rounded-lg h-96" src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80" alt="Profile Picture">

                <div class="mt-8 lg:px-10 lg:mt-0">
                    <h2 class="text-2xl font-semibold text-gray-800 dark:text-white lg:w-72">
                        Aspiring Full-Stack Developer
                    </h2>

                    <p class="max-w-lg mt-6 text-gray-500 dark:text-gray-400">
                        Hello! I'm Antoni Piwowarski, a passionate Computer Science student specializing in Web Technologies. I'm on a journey to become a full-stack developer, with experience in both frontend and backend technologies. My skillset includes Angular, React, Python, Java, C++, and C#.
                    </p>

                    <p class="max-w-lg mt-4 text-gray-500 dark:text-gray-400">
                        I'm enthusiastic about creating diverse applications, from web and mobile apps to desktop software. My goal is to leverage my broad technical knowledge to build innovative, user-friendly solutions that make a real impact.
                    </p>

                    <div class="mt-6">
                        <button routerLink="/portfolio" class="inline-flex items-center px-4 py-2 text-sm font-medium text-white bg-blue-500 rounded-lg hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 dark:focus:ring-offset-gray-800">
                            View My Portfolio
                            <svg class="w-4 h-4 ml-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<section class="bg-gradient-to-r from-blue-600 via-blue-800 to-blue-900 dark:from-gray-700 dark:via-gray-800 dark:to-gray-900 lg:h-[calc(100vh-16rem)] flex items-center justify-end">
    <div @staggerSlideIn class="container flex flex-col justify-center w-full px-6 py-10 mx-auto lg:w-1/2 move-center">
        <h1 class="text-2xl font-semibold text-gray-800 capitalize lg:text-3xl dark:text-white stagger-item">
            <span class="text-blue-500">About</span> Me
        </h1>

        <div class="mt-10 lg:mt-20 lg:flex lg:items-center">
            <img class="object-cover object-center w-full lg:w-[32rem] rounded-lg h-96" src="image0.jpeg" alt="Profile Picture" @fadeSlideIn>
            <div class="mt-8 lg:px-10 lg:mt-0">
                <h2 class="text-2xl font-semibold text-gray-800 dark:text-white lg:w-72 stagger-item">
                Aspiring Full-Stack Developer
                </h2>

                <p class="max-w-lg mt-6 text-gray-500 dark:text-gray-400 stagger-item">
                Hello! I'm Antoni Piwowarski, a passionate Computer Science student specializing in Web Technologies. I'm on a journey to become a full-stack developer, with experience in both frontend and backend technologies. My skillset includes Angular, React, Python, Java, C++, and C#.
                </p>

                <p class="max-w-lg mt-4 text-gray-500 dark:text-gray-400 stagger-item">
                I'm enthusiastic about creating diverse applications, from web and mobile apps to desktop software. My goal is to leverage my broad technical knowledge to build innovative, user-friendly solutions that make a real impact.
                </p>
                <div class="mt-6 stagger-item">
                <button routerLink="/portfolio" class="inline-flex items-center px-4 py-2 text-sm font-medium text-white bg-blue-500 rounded-lg hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 dark:focus:ring-offset-gray-800">
                    View My Portfolio
                    <svg class="w-4 h-4 ml-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
                    </svg>
                </button>
                </div>
            </div>
        </div>
    </div>
</section>

<router-outlet></router-outlet>